$pageWidth: 320;
$theme: #D23F3A;
$fontColor: #333;

@function px($size) {
  $remSize: $size / $pageWidth * 10;
  @return #{$remSize}rem;
}

// clear style
p, span, a {
    font-size: px(16);
}

h2,h3,h4,h5,h6 {margin: 0;padding: 0;}
a {text-decoration: none;}
ul > li {list-style: none;}



//wrap-content-above
.wrap-content-above {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}


// top section
.topfix {
    width: 100%;
    height: px(64);
    background: $theme;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 px(10);
}

.topfix > .logo-wrap > .logo, .topfix > .logo-wrap > .logo-name {
    font-size: px(25);
    color: #fff;
    vertical-align: middle;
}

.topfix > .logo-wrap > .logo-name {
    font-size: px(22);
}

.topfix > .app-download {
    align-self: center;
    font-size: px(14);
    padding: 3px 10px;
    border: 1px solid #fff;
    border-radius: px(15);
    color: #fff;
}

// tab switch section
.tab-wrap {
    width: 100%;
    height: px(40);
    display: flex;
    border-bottom: 1px solid #E5E5E5;
    background: #fff;

    div {
        width: 33.3%;
        text-align: center;
        line-height: px(40);
        font-size: px(15);
            span {
                color: $fontColor;
                position: relative;
            }
    }
    
}

.tab-wrap{
    margin-bottom: px(20);
    span.active {
        color: $theme;
            &:after {
                content: '';
                position: absolute;
                bottom: px(-10);
                left: 0;
                right: 0;
                background: $theme;
                height: 2px;
            }

    }
}


//wrap-content
.wrap-content {
    margin-top: px(124);
}

.heading {
    font-size: px(17);
    color: $fontColor;
    padding: 0 0 px(9) px(14);
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        background: #D23F3A;
        width: 2px;
        height: 60%;
    }
}


// list recommendation area

 .list-recommendation-wrap {
     ul {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         margin-bottom: px(24);

         li {
             max-width: px(104.55);
             margin-bottom: px(16);
             position: relative;

             &::after {
                 content: '';
                 position: absolute;
                 top: 0;
                 left: 0;
                 background: rgba(0, 0, 0, 0);
                 background: linear-gradient(180deg, rgba(0,0,0,0.27494747899159666) 0%, rgba(0,0,0,0) 100%);
                 height: px(104.55);
                 width: 100%;
                 z-index: 1;
             }


             img {
                 width: 100%;
                 height: px(104.55);
             }

             .list-recommend-descrip {
                 width: 100%;
                 padding: 6px 2px 0 6px;
                 font-size: px(13);
                 line-height: 1.2;
                 text-overflow: ellipsis;
                 overflow: hidden;
                 display: -webkit-box;
                 -webkit-line-clamp: 2;
                 -webkit-box-orient: vertical;
             }

             .list-recommend-info-wrap {
                 position: absolute;
                 top: 0;
                 top: px(2);
                 right: px(5);
                 color: #fff;
                 font-size: px(12);
                 z-index: 2;

                 .list-recommend-info-wrap-icon {
                     vertical-align: middle;
                     margin-right: 2px;
                 }
                 .list-recommend-info-wrap-text {
                     font-size: inherit;
                 }
             }
         }
     }
 }